@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
    font-family: 'Baloo Tammudu 2', cursive;

}
.container{
    width: 1500px;
    margin: 0 auto;
}

a, a:visited{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.search{
    width:30%;
}
.logo{
    font-size: 32px;
    font-weight: bold;
    width: 30%;
}
.container h1{
    display: flex;
    justify-content: center;
}
.movie-list{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.movie-item{
    width: 18%;
    margin-right: 2%;
    margin-bottom: 32px;
    opacity: 1;
}
.movie-item:hover{
    opacity: 0.6;
}
.movie-item-inner{
    padding: 12px;
    background-color: #111111;
    box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.3);
}
.movie-item img{
    width: 100%;
    border-radius: 8px;
    
}

.movie-item h1{
    font-size: 16px;
    padding: 4px;
    color: white;
    align-items: center;
}

.movie-item p{
    font-size: 14px;
    padding: 0;
}

.links{
    display: flex;
    color: white;
    justify-content: center;
}
.links a{
    margin: 0 12px;
}

.movie{
    display: flex;
}

.movie img{
    width: 400px;
}

.movie-text{
    padding: 50px;
}
.movie-text h3{
    justify-content: center;
}
.form{
    width: 100%;
    display: flex;
    
}

.form input{
    flex: 1;
    height: 32px;
    padding: 0 12px;
    outline: none;
    background-color: #111111;
    color: white;
}

.form button{
    width: 120px;
    background-color: red;
    border-radius: 3px;
    color: white;
}